/* admin page */

.confirmPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-color: rgb(31, 28, 28);
    border-style: solid;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.confirmButton {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    padding: 15px 15%;
    overflow: hidden;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #790b4f;
}

.confirmPassword input,
.confirmPassword label {
    margin: 10px 20px;
}

.confirmPassword label {
    font-size: 26px;
}

.confirmPassword input {
    padding: 5px 10px;
    font-size: 18px;
}

#confirmButton:hover {
    opacity: 0.8;
}

.userTable {
    display: none;
    flex-direction: column;
    margin-left: 20%;
    width: 60%;
    margin-top: 30px;
}

.userTable td,
.userTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

.userTable td:last-child {
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.deleteIcon {
    max-width: 100%;
    max-height: 100%;
}

.deleteIcon:hover {
    cursor: pointer;
}

#pageTitle {
    margin-top: 50px;
    text-align: center;
}


/*.logRegFrame input[type="checkbox"] {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}*/